<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Admin - Profile</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <h1>Admin profile</h1>
  <%for(var i = 0; i < user.local.assesments.length; i++){%>
    <%= user.local.assesments[i].name %>
  <%}%>
</body>
</html>
